<div class="main-container">

  <!-- Header with Navigation -->
<div id="header">
    <h1>J.c</h1>
    <ul id="navigation">
        <li><a id="link-home" href="#home">Home</a></li>
        <li><a id="link-portfolio" href="#portfolio">Portfolio</a></li>
        <li><a id="link-about" href="#about">About Me</a></li>
        <li><a id="link-contact" href="#contact">Contact</a></li>
    </ul>
</div>
<!-- Home -->
<div id="home" class="content">
<h1 class="body-paragraph front">"Any fool can write code that a computer can understand. Good programmers write code that humans can understand.”</h1>
</div> 
<!-- /Home -->
 
<!-- Portfolio -->
<div id="portfolio" class="panel">
    <div class="content">
        <h2>Portfolio</h2>
        <a href="http://employtoy.com/" target="_black"><%= image_tag "employtoy.gif" %></a> 
        <a href="http://www.openassembly.com/#/home" target="_black"><%= image_tag "openassembly.png"%></a>
         <a href="https://www.farmivore.com/" target="_black"><%= image_tag "farm.png"%></a> 
        <a href="http://rentah.com/" target="_black"><%= image_tag "rentah.png"%></a> 
        <a href="http://eranyc.com/" target="_black"><%= image_tag "era.png"%></a> 
  </div>
</div>
<!-- /Portfolio -->
 
<!-- About -->
<div id="about" class="panel">
    <div class="content">
        <h2>What I am about</h2>
        <div class="row">
        <div class="large-8 columns">       
            <div class="paragraph-title">I'M <strong>Joseph Chavez</strong> AND I'M A FRONT END DEVELOPER</div><br/>
            <div class="body-paragraph">Hi, my name is <strong>Joseph Chavez</strong>. I have been a front end developer for almost two years. I have been working on professional projects with different companies as well as on my own. My passion is to solve complex problems and continue to learn and use various front and backend skills.<br/><br/>

            As a hobby, I enjoy reading books relating to physics and astronomy. As a developer, I am open and willing to work and learn more about any given task with no excuse. I am very interested to work on projects that challenge me.<br/><br/>

            I would like to be given the opportunity to utilize and apply my skills, abilities and knowledge to help become a true asset to my next employer. So enough writing, let's change the world together.</div>
           </div>
       </div> 
    </div>
     
</div>
<!-- /About -->
 
<!-- Contact -->
<div id="contact" class="panel">
    <div class="content">
   <h2>Contact</h2> 
   <form>
  <div class="row">
  <div class="large-8 columns">
    <div class="large-6 columns">
        <input type="text" placeholder="first Name" />
    </div>
    <div class="large-6 columns">
        <input type="text" placeholder="Last Name" />
    </div>
  </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
    <br/><br/><br/>
      <label>
        <textarea placeholder="Let me know how I can help you"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
  <br/><br/><br/>
    <div class="large-8 columns">
   <a href="#" class="button expand">Submit</a>
   </div>
   </div>
</form>
     <%= image_tag "miny_logo.png" %>
    </div>
</div>
<!-- /Contact -->  
</div>